.form-modal {
    padding: 28px 28px 36px 28px;
    width: 496px;
}

.form-modal__close-button {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 28px;
}

.form-modal__title {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.form-modal__form {
    display: flex;
    flex-direction: column;
}

.form-modal__field-header {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 24px 0px 12px 0px;
}

.form-modal__radio-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.form-modal__radio-button {
    width: 16px;
    height: 16px;
    accent-color: #000;
    vertical-align: text-top;
}

.form-modal__radio-element {
    flex-basis: 100%;
    
}

.form-modal__submit {
    margin-top: 32px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border-radius: 4px;
    border: none;
    transition: background-color ease-in-out 0.15s;
}

.form-modal__submit:hover {
    background-color: rgba(0, 0, 0, 0.6);

}

.form-modal__submit:disabled {
    background-color: rgba(0, 0, 0, 0.3);
}

