.weather-card {
    display: flex;
    justify-items: center;
    max-width: 1360px;
    margin: 0px 40px;
    height: 80px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.weather-card__weather_day-clear {
    background-image: url("../../assets/weather/day-clear.svg");
}

.weather-card__weather_day-cloudy {
    background-image: url("../../assets/weather/day-cloudy.svg");
}

.weather-card__weather_day-fog {
    background-image: url("../../assets/weather/day-fog.svg");
}

.weather-card__weather_day-rain {
    background-image: url("../../assets/weather/day-rain.svg");
}

.weather-card__weather_day-snow {
    background-image: url("../../assets/weather/day-snow.svg");
}

.weather-card__weather_day-storm {
    background-image: url("../../assets/weather/day-storm.svg");
}

.weather-card__weather_night-clear {
    background-image: url("../../assets/weather/night-clear.svg");
}

.weather-card__weather_night-cloudy {
    background-image: url("../../assets/weather/night-cloudy.svg");
}

.weather-card__weather_night-fog {
    background-image: url("../../assets/weather/night-fog.svg");
}

.weather-card__weather_night-rain {
    background-image: url("../../assets/weather/night-rain.svg");
}

.weather-card__weather_night-snow {
    background-image: url("../../assets/weather/night-snow.svg");
}

.weather-card__weather_night-storm {
    background-image: url("../../assets/weather/night-storm.svg");
}


.weather-card__temperature {
    color: rgba(255, 255, 255, 1);
    margin: auto 16px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

