.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    display: none;
}

.overlay_state_active {
    display: flex;
    background-color: rgba(0,0,0,0.3);
}

.overlay__content {
    margin: auto 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}